/* =========================
   GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
:root{
  --primary:#00aa13;
  --danger:#ff3b30;
  --blue:#007aff;
  --bg:#f6f6f6;
}


body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;

  background: url("../user.jpeg") center center/cover no-repeat fixed;

  overflow-x: hidden;

  padding: 80px 15px 90px;
}
/*screen*/

/* =========================
   HEADER (KIRI ATAS PROFILE)
========================= */
.header {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
}

/* PROFILE WRAPPER */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* FOTO MITRA */
.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #4caf50;
}

/* NAMA MITRA */
.nama-mitra {
  font-size: 14px;
  font-weight: bold;
}

/* =========================
   TOP MENU
========================= */
.top-menu {
  display: flex;
  gap: 10px;
  margin-top: 80px; /* biar tidak tabrakan header */
  margin-bottom: 15px;
}

.top-menu button {
  flex: 1;
}

/* =========================
   BUTTON GLOBAL
========================= */
button {
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s;
}

button:active {
  
  transform: scale(0.97);
}
.btn-active{
  background:#2196f3;
  color:white;
}

.btn-history{
  background:#607d8b;
  color:white;
}

/*tombol logout*/
.btn-logout-top {
  position: fixed !important;
  top: 10px;
  right: 10px;
  left: auto !important;
  background: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  z-index: 99999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/*tulisan aktif histori*/
.empty-text{
  text-align:center;
  margin-top:20px;
  color:#888;
  font-size:14px;
  padding-bottom:80px; /* biar tidak ketutup bottom nav */
}




/* =========================
   STATUS ONLINE BUTTON
========================= */
.btn-online {
  background: #4caf50;
  color: white;
}

.btn-offline {
  background: #f44336;
  color: white;
}

/* ACTIVE STATE ONLINE/OFFLINE */
#onlineBtn.online {
  background: #4caf50;
  color: white;
}

#onlineBtn.offline {
  background: #f44336;
  color: white;
}

/* =========================
   BOTTOM NAV (FIXED)
========================= */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 8px 0;
  border-top: 1px solid #ddd;
  z-index: 9999;
}

.bottom-nav button {
  flex: 1;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  gap: 3px;

  color: #666;
  padding: 6px 0;
}

.bottom-nav button i {
  font-size: 18px;
}

.bottom-nav button.active {
  color: #16a34a;
}
/*=====tombol logout pojok kanan======*/

.logout-float {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
   background: #0ecf55ee;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.logout-float i {
  color: #333;
  font-size: 16px;
}

.logout-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.logout-box {
  width: 260px;
  background: white;
  border-radius: 14px;
  padding: 18px;
  text-align: center;
  animation: pop .2s ease;
}

@keyframes pop {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.logout-action {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.logout-action button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn-cancel {
  background: #e5e5e5;
}

.btn-logout {
  background: #e11d48;
  color: white;
}



/*tombolmap*/
.btnMap{
  display: inline-block;
  width: 100%;
  text-align: center;

  background: linear-gradient(135deg, #00b894, #00cec9);

  color: white;
  text-decoration: none;

  padding: 12px;
  margin-bottom: 12px;

  border-radius: 12px;

  font-size: 15px;
  font-weight: bold;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  transition: 0.2s;
}

.btnMap:hover{
  transform: scale(1.02);
}

.btnMap:active{
  transform: scale(0.97);
}

.debug-map {
  display: block !important;
  background: red !important;
  color: white !important;
  position: relative !important;
  z-index: 999999 !important;
}

/* =========================
   CARD ORDER
========================= */
.card{
  background:#fff;
  border-radius:18px;
  padding:15px;
  margin-bottom:15px;
  box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.card b {
  font-size: 18px;
  color: #111;
}

.card .layanan {
  margin-top: 8px;
}

.card .harga {
  margin-top: 5px;
  color: #4caf50;
  font-weight: bold;
}

.card .status {
  margin-top: 8px;
  font-weight: bold;
}

/*map*/

#map{
  width: 100%;
  height: 250px;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
/* =========================
   SALDO MITRA
========================= */

.card {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  margin-top: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.card h3 {
  font-size: 16px;
  margin-bottom: 12px;
  color: #333;
}

#saldoInfo {
  font-size: 10px;
  font-weight: 300;
  color: #16a34a;
}

#saldoInfo h2 {
  margin: 0;
}

/* =========================
   HISTORY SALDO
========================= */

#historySaldo {
  max-height: 250px;
  overflow-y: auto;
}

.history-item {
  background: #f8fafc;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
  border-left: 4px solid #4f46e5;
}

.history-item b {
  display: block;
  margin-bottom: 4px;
  color: #333;
}

.history-item small {
  color: #777;
}

.history-debit {
  color: #ef4444;
  font-weight: 600;
}

.history-credit {
  color: #16a34a;
  font-weight: 600;
}

.saldo-card{
  margin:6px 10px;
  padding:8px 10px;
  border-radius:12px;
}

.saldo-card h3{
  font-size:10px;
  margin-bottom:5px;
}


#saldoInfo{
  font-size:14px;
}


#historySaldo{
  max-height:50px;
  overflow-y:auto;
  font-size:12px;
}

/*navbar saldo*/
#historySaldo {
  max-height: 220px;   /* tinggi dibatasi */
  overflow-y: auto;    /* scroll ke bawah */
  padding-right: 5px;
}

/* biar scroll lebih halus */
#historySaldo::-webkit-scrollbar {
  width: 5px;
}

#historySaldo::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/*====rating=====*/
.akun-rating{
  font-size:28px;
  font-weight:bold;
  color:#f59e0b;
  margin:10px 0;
}

#ulasanList {
  max-height: 150px;
  overflow-y: auto;
  padding: 5px;
  scroll-behavior: smooth;
}

/* biar tiap review terlihat seperti card */
.ulasan-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

/* rating bintang */
.ulasan-rating {
  font-size: 18px;
  color: gold;
  margin-bottom: 5px;
}

/* teks ulasan */
.ulasan-text {
  font-size: 14px;
  color: #333;
}

/*historimitra*/
.history-wrapper{
    height:calc(100vh - 180px);
    display:flex;
    flex-direction:column;
}

.history-header{
    font-size:18px;
    font-weight:600;
    padding:10px;
}

.history-container{
    flex:1;
    overflow-y:auto;
    padding-bottom:20px;
}




/* =========================
   STATUS COLORS
========================= */
.pending { color: #ff9800; }
.diambil { color: #2196f3; }
.dikerjakan { color: #9c27b0; }
.selesai { color: #4caf50; }
.canceled { color: #f44336; }

/* =========================
   RESPONSIVE TABLET
========================= */
@media (min-width: 768px) {

  body {
    max-width: 700px;
    margin: auto;
  }

  button {
    font-size: 16px;
  }
}